*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #b1a3a3;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow:0 0 1rem rgba(184, 2, 2, 0.5) ;
    font-size: 8vmin;
    color: #877070;
    background-color: #cdbf2a;
}
#resetBtn{
    padding: 1rem;
    font-size: 1rem;
    background-color: #1c9804;
    color: rgb(247, 245, 245);
    border-radius: 1rem;
    border: none;
}
#newGameBtn{
    padding: 1rem;
    font-size: 1rem;
    background-color: #1c9804;
    color: rgb(247, 245, 245);
    border-radius: 1rem;
    border: none;
}
#msg{
    text-decoration: solid;
    color: #634c3b;
    font-size: 6vmin;
}
.msgContainer{
    height: 10vmin;
}
.hide{
    display: none;
}